## MLZOOMCAMP 2022 HW 1

In [7]:
import numpy as np
import pandas as pd

### Question 1

In [3]:
np.__version__

'1.20.3'

In [4]:
#!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

/bin/bash: wget: command not found

In [5]:
!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9672 sha256=b4081f090b9d58df3845400f29bf8b7cedab2a02d4be44978ba33e4250ad917f
  Stored in directory: /Users/habeeb/Library/Caches/pip/wheels/04/5f/3e/46cc37c5d698415694d83f607f833f83f0149e49b3af9d0f38
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [6]:
!python -m wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

100% [......................................................] 1475504 / 1475504
Saved under data.csv

In [37]:
df = pd.read_csv('data.csv')
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

### Question 2

In [38]:
df.shape

(11914, 16)

11914 rows

### Question 3

In [68]:
df['Make'].value_counts()[0:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

### Question 4

In [40]:
df[df['Make']=='Audi'].groupby('Model').count()

,Make,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
Model,,,,,,,,,,,,,,,
100,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15
200,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
80,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
90,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
A3,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47
A4,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25
A4 allroad,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
A5,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
A6,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23
A7,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
A8,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Cabriolet,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Coupe,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Q3,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14
Q5,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20
Q7,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15
R8,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25
RS 4,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
RS 5,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
RS 6,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
RS 7,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
S3,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
S4,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
S5,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
S6,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
S7,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
S8,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
SQ5,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
TT,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
TT RS,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
TTS,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
V8,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
allroad,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
allroad quattro,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8

In [41]:
df[df['Make']=='Audi']['Model'].nunique()

34

### Question 5

In [42]:
df.info()
#5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [43]:
df.columns[df.isnull().any()]
len(df.columns[df.isnull().any()])

5

### Question 6

In [44]:
df['Engine Cylinders'].median()

6.0

In [45]:
df['Engine Cylinders'].mode()

0    4.0
dtype: float64

In [46]:
df['Engine Cylinders']= df['Engine Cylinders'].fillna(df['Engine Cylinders'].mode())

In [47]:
df['Engine Cylinders'].median()

6.0

### Question 7

In [50]:
lot = df[df['Make']=='Lotus']

In [52]:
lot2 = lot[['Engine HP','Engine Cylinders']]

In [54]:
lot3 = lot2.drop_duplicates()

In [59]:
X = lot3.values
X

array([[189.,   4.],
       [218.,   4.],
       [217.,   4.],
       [350.,   8.],
       [400.,   6.],
       [276.,   6.],
       [345.,   6.],
       [257.,   4.],
       [240.,   4.]])

In [60]:
XTX = X.T@X

In [62]:
IXTX = np.linalg.inv(XTX)

In [63]:
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

In [65]:
xy = IXTX@X.T

In [66]:
w = xy@y

In [67]:
w

array([  4.59494481, -63.56432501])